services:
  db:
    image: postgres:15
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  aiogram:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env 
    depends_on:
      - db
    command: python bot.py

volumes:
  postgres_data: